body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: stretch;
    height: 100%;


}
.sekcja1,
.sekcja2,
.sekcja3,
.sekcja4 {
    flex: auto;
    flex-grow: 1;
}

.header {
    background-color: #1F2937;
}

.sekcja1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
}
.s1left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.tab1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;   
}
.tab2 {
    font-size: 18px;
    color: #E5E7EB;
}
.s1right {
    margin-left: auto;
}

.logo {
    min-width: 500px;
}
.sekcja2 {
    display: block;
}
.sekcja3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    align-items: center;
    
}
.s2header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}
.squares {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
.section {
    display: block;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    flex: none;
}
.s2square {
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border-style: solid;
    border-color: #3882f6;
    flex: none;
}
blockquote {
    text-align: left;
}
blockquote + p {
    
}