body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: stretch;
    height: 100%;


}
.frame {
    background-color: #1F2937;
    justify-items: center;
}
.sekcja1,
.sekcja2,
.sekcja3,
.sekcja4 {
    flex: auto;
    flex-grow: 1;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    margin: 15px 25px;

}
.hlogo,
.hmenu {
    margin: 0px 15px;
}
a {
    padding: 0px 15px;
}

.sekcja1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.hero {
    display: flex;
    width: 800px;
}
.s1left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 
}
.s1button {
    color: #F9FAF8;
    font-weight: 800;
    width: 150px;
    height: 45px;
    background-color: #3882f6;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882f6;
}
.tab1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;   
}
.tab2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #E5E7EB;
}
.s1right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.logo {
    height: 50%;
    margin: 25px;
}
.sekcja2 {
    display: block;
    margin-bottom: 80px;
}
.sekcja3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    align-items: center;
    
    
}
.s2header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}
.squares {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
.section {
    display: block;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    flex: none;
}
.s2square {
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border-style: solid;
    border-color: #3882f6;
    flex: none;
}
.sekcja4 {
    margin: auto;
}
.frame4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    border-style: solid;
    border-radius: 25px;
    border-color: #3882f6;
    background-color: #3882f6;
    margin: 80px;

}
blockquote {
    text-align: left;
    font-style: italic;
}
blockquote + p {
    text-align: right;
}
.section > p {
    text-align: center;
}
.f4button {
    color: #F9FAF8;
    font-weight: 800;
    margin: 50px;
    width: 100px;
    height: 45px;
    background-color: #3882f6;
    border-style: solid;
    border-radius: 15px;
    border-color: #F9FAF8;
}
.f4text {
    color: #F9FAF8;
}